registry=https://registry.npmjs.org/

# Use symlinked executables instead of command shims with `NODE_PATH` to achieve better DX in debugging with LLDB, etc.
# See: https://pnpm.io/npmrc#prefer-symlinked-executables
prefer-symlinked-executables=true